
.page {
    text-align: center;
}

body { 
    font-weight: bold;
    font-family: "Arial Narrow", sans-serif;
    background-color: Black;
    color: White;
    background: -webkit-linear-gradient(black, #1000c3) no-repeat center center;
}

#br {
    font-size: 4px;
}

.header {
	padding: 55px 60px 55px 60px;
	margin: -10px -20px -10px -20px;
    position: fixed;
    background-color: #98FF98;
}

#header-links {
    border-width: 2px;
	border-style: none solid none solid;
	border-color: #66FF66;
    padding: 1.4em 58px 1.4em 58px;
	background-color: #98FF98;
    color: black;
    margin: -4px;
	position: relative;
	bottom: 11px;
	left: 6px;

}

img {
    height: 2.5em;
	position: relative;
	top: 0.75em;
}
a {
	color: lime;
}
