#fav {
    padding: 0.7em 1.3em 0.7em 1.3em;
    border-radius: 7%;
    background-image: -webkit-linear-gradient(#80FF80, #3F2EFF);
    color: black;
}

@font-face {
    font-family: "Arial Narrow";
    src: url(http://www.gamecorpgames.net/Arialn.ttf);
}

@font-face{
    font-family: "Arial Narrow"
    src("http://www.gamecorpgames.net/arialn.ttf")
}

td, th {
	padding: 19px 80px;
	text-align: center;
}

.header {
	padding: 0.313em 0.625em 0.313em 0.625em;
	margin: -0.625em -1.250em -0.625em -1.250em;
    position: fixed;
    background-color: #98FF98;
}

#header-links {
    border-width: 2px;
	border-style: none solid none solid;
	border-color: #66FF66;
    padding: 1em 4.313em 1em 4.313em;
	background-color: #98FF98;
    color: black;
    margin: -0.250em;
	position: relative;
	bottom: 0.688em;
	left: 0.375em;

}

img {
    height: 2.5em;
	position: relative;
	top: 0.75em;
}

#fav-intro {
    text-align: center;
	font-family: "Agency FB";
	font-size: 20px;
}

.opening {
    font-family: "Agency FB";
    font-size: 1.5em;
    text-align: center;
}

#bold {
    font-weight: 700;
}

#title {
    text-align: center;
}

body {
    background-color: Black;
    color: White;
    background-color: #1000c3;
	font-family: "Arial Narrow", sans-serif;
}

a {
	color: Lime;
}

#dg {
    color: #0A0A0A;
    font-weight: bold;
	text-align: center;

}

#welcome {
    font-family: "Agency FB";
    font-size: 2em;
    color: #66FF66;
	text-align: center;
}

.lists {
    text-align: left;
    font-style: italic;
    font-family: "Comic Sans MS";
}

#games {
    color: black;
	text-align: center;
	background: url(images/Custom/duo-logo) no-repeat center center;
}

#og {
    color: #ffffff;
    font-weight: bold;
	text-align: center;
}

#fav-image1 {
    text-align: center;
    padding: 40px 40px;
    background: url("Games/flight/thumb.jpg") no-repeat center center;
    background-size: cover;
    font-size: 0;
	border-radius: 10%;
}

#fav-image2 {
    text-align: center;
    padding: 40px 40px;
    background: url("Games/kingdom_rush/thumb.png") no-repeat center center;
    background-size: cover;
    font-size: 0;
    border-radius: 10%;
}

#fav-image3 {
    text-align: center;
    padding: 40px 40px;
    background: url("Games/corporation_inc/thumb.jpg") no-repeat center center;
    background-size: cover;
    font-size: 0;
	border-radius: 10%;
}

#fav-image4 {
    text-align: center;
    padding: 40px 40px;
    background: url("Games/elephant_quest/thumb.png") no-repeat center center;
    background-size: cover;
    font-size: 0;
	border-radius: 10%;
}

.title {
    text-align: center;
}
