body {
    background-color: Black;
    color: White;
    background-image: -webkit-linear-gradient(black, #1000c3);
    text-align: center;
	font-family: "DK Sugary Pancake", "Arial Narrow", sans-serif;
}

td, th {
    color: white;
    text-align: center;
    border: 2px solid black;
    padding: 40px 80px;
	
}

#td1 {
    background-image: -webkit-linear-gradient(#98FF98, #1000c3);
}

#td2 {
    background-image: -webkit-linear-gradient(#1000c3, #98FF98);
}

th {
    background-color: #98ff98;
}

#black {
	color: black;
}

a {
	color: lime;
}

#thumb {
	height: 60px;
	width: 60px;
}

.header {
	padding: 5px 10px 5px 10px;
	margin: -10px -20px -10px -20px;
    position: fixed;
    background-color: #98FF98;
}

#header-links {
	font-weight: bold;
    border-width: 2px;
	border-style: none solid none solid;
	border-color: #66FF66;
    padding: 1em 68px 1em 68px;
	background-color: #98FF98;
    color: black;
    margin: -4px;
	position: relative;
	bottom: 11px;
	left: 6px;

}

img {
    height: 2.5em;
	position: relative;
	top: 0.75em;
}
