a {
	color: lime;
}

td, th {

    color: black;
    text-align: center;
    border: 2px solid black;
	padding: 20px 30px;
}

@font-face{
    font-family: "Arial Narrow"
    src("http://www.gamecorpgames.net/arialn.ttf")
}

th {
	background-color: #98ff98;
}

td {
    background: -webkit-linear-gradient(#98FF98, #1000c3) no-repeat center center;
}

body {
	text-align: center;
	background: -webkit-linear-gradient(#000000, #1000c3) no-repeat center center;
}
